{% extends 'base.html' %}

{% block content %}
    {% if article %}
        <article>
            <h2><a href="{{ article.link }}">{{ article.title }}</a></h2>
            <p><strong>Published on:</strong> {{ article.published }}</p>
            <p><strong>Source:</strong> {{ article.source if article.source else "Unknown" }}</p>
            <p><strong>Abstract:</strong> {{ article.get('dc:description') }}</p>
        </article>
    {% else %}
        <p>No article available for today.</p>
    {% endif %}
{% endblock %}

